@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@include b(avatar) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  outline: none;
  color: getCssVar("avatar-text-color");
  background: getCssVar("avatar-bg-color");
  width: getCssVar("avatar-size");
  height: getCssVar("avatar-size");
  font-size: getCssVar("avatar-text-size");

  > img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include m(circle) {
    border-radius: 50%;
  }

  @include m(square) {
    border-radius: getCssVar("avatar-border-radius");
  }

  @include m(icon) {
    font-size: getCssVar("avatar-icon-size");
  }
}
