@forward "./vp.scss";

html {
  --tk-theme-color: var(--vp-c-brand-1);
  --post-shadow: rgba(0, 0, 0, 0.1);
  --post-shadow-hover: rgba(0, 0, 0, 0.2);
  --post-gray-color1: #86909c;
  --post-gray-color2: #4e5969;
  --bg-base: rgb(255, 255, 255, 0.9);
}

html.dark {
  --bg-base: rgb(20, 20, 20, 0.7);
  --post-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
  --post-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.7);
}

a:hover {
  color: var(--tk-theme-color);
  cursor: pointer;
}
