// 文章内容宽度加大
.VPContent .VPDoc.has-aside .content-container {
  max-width: var(--vp-content-container, 688px);
}

.VPSidebar {
  .nav {
    .item {
      h2.text {
        // 一级菜单字体加大
        font-size: 18px;
      }
    }

    .items {
      // 二级菜单添加间距
      padding-left: 10px;
    }
  }
}

// 导航栏切换暗黑模式按钮样式调整
.tk-layout .VPNavBar .VPSwitchAppearance {
  width: 22px !important;
  .check {
    transform: none;
  }
}
