$primaryColor: #395ae3;

:root {
  --vp-c-indigo-1: #{$primaryColor};
  --vp-c-indigo-3: #{$primaryColor};
  --vp-c-bg-alt: #f5f7fa;
  --vp-c-brand-2: #2a87f8;
  --vp-c-green: #{$primaryColor};
  --vp-layout-max-width: 97vw;
  --vp-sidebar-width: 275px;
}

.dark {
  --vp-c-bg-alt: #262727;
}

.VPContent .VPDoc.has-aside .content-container {
  max-width: 1800px;
}

.tagline-link {
  font-weight: 500;
  color: var(--vp-c-brand);
  text-decoration-style: dotted;
  transition: color 0.25s;
}

.VPSidebar {
  .nav {
    .item {
      h2.text {
        // 一级菜单字体加大
        font-size: 18px;
      }
    }

    .items {
      // 二级菜单添加间距
      padding-left: 10px;
    }
  }
}
