$primaryColor: #395ae3;

:root {
  --vp-c-green: #{$primaryColor};
  --vp-c-green-light: #2a87f8;
  --vp-c-green-lighter: #3e93fb;

  --vp-c-green-dark: #046ae7;
  --vp-c-green-darker: #0362d7;
  --vp-layout-max-width: 90%;
  --vp-sidebar-bg-color: #fff;
  --vp-sidebar-width: 235px;
  --prism-block-padding-y: 1.2em;

  --vp-c-indigo-1: #{$primaryColor};
  --vp-c-indigo-3: #{$primaryColor};
  --vp-c-bg-alt: #f5f7fa;
  --vp-c-brand-2: #2a87f8;
}

.dark {
  --vp-sidebar-bg-color: #161618;
  --vp-c-bg-alt: #262727;
}

.VPContent .VPDoc.has-aside .content-container {
  max-width: 1200px;
}

.tagline-link {
  font-weight: 500;
  color: var(--vp-c-brand);
  text-decoration-style: dotted;
  transition: color 0.25s;
}

.VPSidebar {
  .nav {
    .item {
      h2.text {
        font-size: 18px;
      }
    }

    .items {
      padding-left: 10px;
    }
  }
}

.vp-doc {
  h2 {
    border-top: 0;
  }

  th,
  td {
    border: 0;
    min-width: 92px;
  }

  tr:nth-child(2n) {
    background-color: unset;
  }

  tr:nth-last-child(1) {
    border-bottom: 1px solid var(--vp-c-divider);
  }

  table {
    display: table;
    width: 100%;
    .el-tag {
      display: unset;
      margin-left: 4px;
    }
  }

  .custom-block.warning a {
    color: var(--vp-c-brand-1);
  }
}

.copyright {
  white-space: pre;

  .copyright-link {
    color: var(--vp-c-brand);
  }
}
