@use "../namespace.scss" as *;

html[size="large"] {
  --#{$theme-namespace}-home-max-width: 1330px;
  --#{$theme-namespace}-home-gap: 30px;
  --#{$theme-namespace}-home-post-simple-img-width: 160px;
  --#{$theme-namespace}-home-post-simple-img-height: 80px;
  --#{$theme-namespace}-home-post-full-img-width: 360px;
  --#{$theme-namespace}-home-post-full-img-height: 100%;
  --#{$theme-namespace}-home-post-line-clamp: 4;
  --#{$theme-namespace}-home-card-padding: 15px;
  --#{$theme-namespace}-home-card-width: 350px;
  --#{$theme-namespace}-home-card-svg-margin-left: 10px;
  --#{$theme-namespace}-home-font-size-large: 19px;
  --#{$theme-namespace}-home-font-size-base: 17px;
  --#{$theme-namespace}-home-font-size-middle: 15px;
  --#{$theme-namespace}-home-font-size-sm: 14px;
  --#{$theme-namespace}-home-font-size-small: 13px;
  --#{$theme-namespace}-page-width: 1100px;
  // 数值越大，侧边栏约靠近屏幕左侧
  --vp-layout-max-width: 97vw;
  --vp-sidebar-width: 290px;
  --vp-content-container: 1800px;
}

:root,
html[size="default"] {
  --#{$theme-namespace}-home-max-width: 1140px;
  --#{$theme-namespace}-home-gap: var(--#{$theme-namespace}-gap1);
  --#{$theme-namespace}-home-post-simple-img-width: 120px;
  --#{$theme-namespace}-home-post-simple-img-height: 80px;
  --#{$theme-namespace}-home-post-full-img-width: 240px;
  --#{$theme-namespace}-home-post-full-img-height: 100%;
  --#{$theme-namespace}-home-post-line-clamp: 3;
  --#{$theme-namespace}-home-card-padding: 10px;
  --#{$theme-namespace}-home-card-width: 280px;
  --#{$theme-namespace}-home-card-svg-margin-left: 5px;
  --#{$theme-namespace}-home-font-size-large: 18px;
  --#{$theme-namespace}-home-font-size-base: 16px;
  --#{$theme-namespace}-home-font-size-middle: 14px;
  --#{$theme-namespace}-home-font-size-sm: 13px;
  --#{$theme-namespace}-home-font-size-small: 12px;
  --#{$theme-namespace}-page-width: 900px;
  --vp-sidebar-width: 290px;
}

html[size="small"] {
  --#{$theme-namespace}-home-max-width: 1000px;
  --#{$theme-namespace}-home-gap: var(--#{$theme-namespace}-gap2);
  --#{$theme-namespace}-home-post-simple-img-width: 100px;
  --#{$theme-namespace}-home-post-simple-img-height: 80px;
  --#{$theme-namespace}-home-post-full-img-width: 130px;
  --#{$theme-namespace}-home-post-full-img-height: 100%;
  --#{$theme-namespace}-home-post-line-clamp: 2;
  --#{$theme-namespace}-home-card-padding: 8px;
  --#{$theme-namespace}-home-card-width: 260px;
  --#{$theme-namespace}-home-card-svg-margin-left: 4px;
  --#{$theme-namespace}-home-font-size-large: 17px;
  --#{$theme-namespace}-home-font-size-base: 15px;
  --#{$theme-namespace}-home-font-size-middle: 13px;
  --#{$theme-namespace}-home-font-size-sm: 13px;
  --#{$theme-namespace}-home-font-size-small: 12px;
  --#{$theme-namespace}-page-width: 800px;
  --vp-layout-max-width: 1300px;
  --vp-sidebar-width: 290px;
  --vp-content-container: 688px;
}

@media screen and (min-width: 768px) {
  :root,
  html[size="large"],
  html[size="default"],
  html[size="small"] {
    --#{$theme-namespace}-home-card-width: 280px;
  }
}

@media screen and (max-width: 768px) {
  :root,
  html[size="large"],
  html[size="default"],
  html[size="small"] {
    --#{$theme-namespace}-home-card-width: 100%;
  }
}
