@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-articleAnalyze;

.#{$prefix-class} {
  flex-wrap: wrap;
  color: var(--vp-c-text-2);
  font-size: 14px;
  margin-bottom: 1.5rem;

  :deep(.el-breadcrumb__separator) {
    font-weight: 400;
    margin: 0 4px;
  }

  .el-breadcrumb__inner a {
    font-weight: 400;
    color: var(--el-text-color-regular);

    &:hover {
      color: var(--tk-theme-color);
    }
  }

  &-wrapper {
    & > div:not(:last-child) {
      margin-right: 14px;
    }

    i {
      margin-right: 3px;
    }
  }
}
