@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-docAnalysis;

.#{$prefix-class} {
  &-item {
    display: flex;
    justify-content: space-between;
    font-size: var(--tk-home-font-size-middle);
    padding: 1px 2px;
  }
}
