@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-friendLink;

.#{$prefix-class} {
  &-list {
    position: relative;
    gap: var(--tk-friend-gap);
    padding-right: 5px;

    &__item {
      padding: 0 5px;
      a {
        gap: 15px;
        .friend-avatar {
          width: 3vw;
          height: 3vw;
          border-radius: 50%;
        }
      }

      &-info {
        // 让文字溢出后显示 ...
        min-width: 0;
        .friend-name {
          font-size: var(--tk-home-font-size-middle);
          font-weight: 450;
        }
        .friend-desc {
          font-size: var(--tk-home-font-size-small);
          color: var(--vp-c-text-2);
        }
      }
    }
  }

  &-empty {
    font-size: var(--tk-home-font-size-middle);
    padding: 6px;
    text-align: center;
  }
}
