@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-postItem;

.#{$prefix-class} {
  margin-bottom: 14px;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 var(--#{$theme-namespace}-shadow-color);
  transition: all 0.3s;
  background-color: var(--#{$theme-namespace}-bg-color2);

  &:hover {
    box-shadow: 0 2px 16px 0 var(--#{$theme-namespace}-shadow-color-hover);
  }

  .pin {
    position: absolute;
    overflow: hidden;
    width: 30px;
    height: 30px;
    top: -4px;
    left: -4px;
    opacity: 0.5;

    &::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 30px;
      background-image: linear-gradient(45deg, var(--#{$theme-namespace}-theme-color), var(--#{$theme-namespace}-theme-color));
      transform: rotate(-45deg) translateY(-20px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
    }
  }

  &-info {
    display: flex;
    &__left {
      padding: 16px 24px;
      flex: 1;

      .title {
        font-size: 20px;
        font-weight: 600;
        display: block;
        cursor: pointer;
      }

      &-footer {
        margin-top: 8px;
      }

      &-excerpt {
        margin: 0.5rem 0;

        &.bottom {
          border-top: 1px solid var(--#{$theme-namespace}-line-color);
          .excerpt {
            overflow: hidden;
            display: -webkit-box;
            margin: 0.5rem 0;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            line-clamp: var(--#{$theme-namespace}-home-post-line-clamp);
            -webkit-line-clamp: var(--#{$theme-namespace}-home-post-line-clamp);
          }
        }

        .excerpt {
          color: var(--#{$theme-namespace}-lower-color1);
          font-size: 14px;
        }

        .more {
          float: right;
          line-height: 16px;
          color: var(--vp-c-brand-2);
          margin-right: 16px;

          &:hover {
            color: var(--#{$theme-namespace}-theme-color);
          }
        }
      }
    }

    &__right {
      .cover-img {
        cursor: pointer;
        .default {
          width: var(--#{$theme-namespace}-home-post-simple-img-width);
          height: var(--#{$theme-namespace}-home-post-simple-img-height);
          border-radius: 2px;
          margin-right: 24px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
        .large {
          width: var(--#{$theme-namespace}-home-post-full-img-width);
          height: var(--#{$theme-namespace}-home-post-full-img-height);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
        }
      }
    }
  }
}
