@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-homeCard;

.#{$prefix-class} {
  margin: 0 auto 10px;
  padding: var(--tk-home-card-padding);
  width: var(--tk-home-card-width);
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 var(--tk-shadow-color);
  transition: box-shadow 0.5s;
  background-color: var(--tk-bg-color2);

  &:hover {
    box-shadow: 0 2px 16px 0 var(--tk-shadow-color-hover);
  }

  &-header {
    margin-bottom: 10px;
    .title {
      font-size: var(--tk-home-font-size-large);

      :deep(svg) {
        width: 16px;
        height: 16px;
        margin-right: var(--tk-home-card-svg-margin-left);
      }
    }

    .page-button {
      padding: 0 3px;
      user-select: none;

      .el-icon {
        font-size: var(--tk-home-font-size-middle);
      }

      &:hover {
        color: var(--tk-theme-color);
      }

      &.pointer {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
