@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-homeCard;

.#{$prefix-class} {
  &-header {
    margin-bottom: 10px;
    .title {
      font-size: 1.1rem;

      :deep(svg) {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }

    .page-button {
      padding: 0 3px;
      user-select: none;

      &:hover {
        color: var(--tk-theme-color);
      }

      &.pointer {
        cursor: pointer;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
