@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-post-item;

.#{$prefix-class} {
  margin-bottom: 14px;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 var(--tk-shadow-color);
  transition: all 0.3s;
  background-color: var(--tk-bg-color2);

  &:hover {
    box-shadow: 0 2px 16px 0 var(--tk-shadow-color-hover);
  }

  .pin {
    position: absolute;
    overflow: hidden;
    width: 30px;
    height: 30px;
    top: -4px;
    left: -4px;
    opacity: 0.5;

    &::before {
      content: "";
      position: absolute;
      width: 120%;
      height: 30px;
      background-image: linear-gradient(45deg, var(--tk-theme-color), var(--tk-theme-color));
      transform: rotate(-45deg) translateY(-20px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
    }
  }

  &-info {
    &__left {
      padding: 16px 24px;
      flex: 1;

      .title {
        font-size: 20px;
        font-weight: 600;
        display: block;
        cursor: pointer;
      }

      &-footer {
        font-size: var(--tk-home-font-size-sm);
        color: var(--tk-lower-color2);
        margin-top: 8px;

        i {
          margin-right: 3px;
        }

        .split:not(:last-child) {
          &::after {
            content: "";
            display: inline-block;
            width: 0.8px;
            height: 8px;
            margin: 0 10px;
            background-color: var(--tk-lower-color2);
          }
        }
      }

      &-excerpt {
        margin: 0.5rem 0;

        &.bottom {
          border-top: 1px solid var(--tk-line-color);
          .excerpt {
            overflow: hidden;
            display: -webkit-box;
            margin: 0.5rem 0;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            line-clamp: var(--tk-home-post-line-clamp);
            -webkit-line-clamp: var(--tk-home-post-line-clamp);
          }
        }

        .excerpt {
          color: var(--tk-lower-color1);
          font-size: 14px;
        }

        .more {
          float: right;
          line-height: 16px;
          color: var(--vp-c-brand-2);

          &:hover {
            color: var(--tk-theme-color);
          }
        }
      }
    }

    &__right {
      .cover-img {
        cursor: pointer;
        .simple {
          width: var(--tk-home-post-simple-img-width);
          height: var(--tk-home-post-simple-img-height);
          border-radius: 2px;
          margin-right: 24px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
        .full {
          width: var(--tk-home-post-full-img-width);
          height: var(--tk-home-post-full-img-height);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%);
        }
      }
    }
  }
}
