@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-tag;

.#{$prefix-class} {
  .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  &-list {
    margin-top: 5px;
    a {
      color: var(--tk-bg-color1);
      display: inline-block;
      padding: 0 0.4rem;
      transition: all 0.4s;
      border-radius: 3px;
      margin: 0 0.3rem 0.4rem;
      height: 1.4rem;
      line-height: 1.4rem;
      font-size: 0.75rem;
      text-align: center;

      &:hover {
        transform: scale(1.05);
      }

      &.active {
        box-shadow: 0 5px 10px -5px var(--home-tag-color);
        transform: scale(1.15);
        &:hover {
          text-decoration: none;
        }
      }
    }

    .more {
      font-size: 0.875rem;
      line-height: 0.875rem;
      color: var(--vp-c-text-1);
      &:hover {
        transform: none;
      }
    }
  }
}
