@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-banner;

.#{$prefix-class} {
  height: 100vh;
  background-size: 100% 100%;
  position: relative;

  .mask {
    width: 100%;
    height: 100%;
    background-color: #0006;
  }

  &-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #ffffff;

    &__title {
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1.25;
    }

    &__desc {
      font-size: 1.4rem;
      max-width: 50rem;
      line-height: 1.3;
      opacity: 0.9;
      margin: 1.5rem auto;

      .typed {
        opacity: 1;
        &.is-animation {
          animation: typedBlink 1 s infinite;
        }
      }
    }
  }
}

.big-img {
  margin-top: calc(-1 * var(--vp-nav-height));
}

@keyframes typedBlink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
