@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-postBaseInfo;

.#{$prefix-class} {
  &.home {
    font-size: var(--#{$theme-namespace}-home-font-size-sm);
    color: var(--#{$theme-namespace}-lower-color2);
  }

  &.article > div:not(:last-child) {
    margin-right: 14px;
  }

  i {
    margin-right: 3px;
  }

  .split:not(:last-child) {
    &::after {
      content: "";
      display: inline-block;
      width: 0.8px;
      height: 8px;
      margin: 0 10px;
      background-color: var(--#{$theme-namespace}-lower-color2);
    }
  }

  .or:not(:last-child) {
    &::after {
      content: "/";
      display: inline-block;
      width: 0.35rem;
      height: 0;
      background-color: var(--#{$theme-namespace}-lower-color2);
    }
  }
}
