@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-siteInfo;

.#{$prefix-class} {
  &-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 1px 2px;
  }
}
