@use "../mixins/function" as *;

/* 文章内容宽度加大 */
.VPContent .VPDoc.has-aside .content-container {
  max-width: var(--vp-content-container, 688px);
}

.VPSidebar {
  .nav {
    .item {
      h2.text {
        /* 一级菜单字体加大 */
        font-size: 18px;
      }

      p.text {
        font-size: 15px;
      }
    }

    .items {
      /* 二级菜单添加间距 */
      padding-left: 10px;
    }
  }
}

/* 导航栏切换暗黑模式按钮样式调整 */
.Layout .VPNavBar .VPSwitchAppearance {
  width: 22px !important;
  .check {
    transform: none;
  }
}

/* 国际化下拉中，激活的语言颜色修改 */
.VPNav .VPNavBarTranslations .VPMenu {
  .title {
    color: getCssVar("theme-color");
  }
}

/* 搜索框透明 */
.DocSearch-Button {
  background-color: transparent;
}

.VPDoc {
  /* 右侧目栏录文字悬停和激活样式 */
  .aside .aside-content .outline-link {
    &:hover {
      font-weight: 700;
    }
    &.active {
      color: getCssVar("theme-color");
    }
  }
}

.vp-code {
  /* shift + 鼠标点击代码块，会出现黑色边框，这里禁掉 */
  outline: none;
}
