@use "../mixins/mixins" as *;
@use "../mixins/function" as *;

:root {
  @include set-css-var("mark-color", #d63200);
}

:root.dark {
  @include set-css-var("mark-color", #b160ea);
}

mark {
  color: getCssVar("mark-color");
  border: 1px solid getCssVar("mark-color");
  background-color: transparent;
  padding: 1px 8px;
  border-radius: 32px;
  margin: 0 3px;
  font-size: 15px;
}
