@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@use "./breadcrumb";
@use "./breadcrumb-item";

@include b(articleBreadcrumb) {
  .el-breadcrumb__separator {
    font-weight: 400;
    margin: 0 4px;
  }

  .el-breadcrumb__item {
    .el-breadcrumb__inner a {
      font-weight: 400;
      color: var(--el-text-color-regular);

      &:hover {
        color: getCssVar("theme-color");
        cursor: pointer;
      }
    }
  }
}
