@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@include b(articleAnalyze) {
  flex-wrap: wrap;
  color: var(--vp-c-text-2);
  font-size: 14px;
  margin-bottom: 24px;
  gap: getCssVar("gap1");

  .el-breadcrumb__separator {
    font-weight: 400;
    margin: 0 4px;
  }

  .el-breadcrumb__item {
    .el-breadcrumb__inner a {
      font-weight: 400;
      color: var(--el-text-color-regular);

      &:hover {
        color: getCssVar("theme-color");
        cursor: pointer;
      }
    }
  }

  @include e(wrapper) {
    & > div:not(:last-child) {
      margin-right: 14px;
    }

    i {
      margin-right: 3px;
    }
  }
}
