@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@include b(articleInfo) {
  &.home {
    font-size: getCssVar("home-font-size-sm");
    color: getCssVar("lower-color-2");
  }

  &.article > div:not(:last-child) {
    margin-right: 14px;
  }

  i {
    margin-right: 3px;
  }

  .split:not(:last-child) {
    &::after {
      content: "";
      display: inline-block;
      width: 0.8px;
      height: 8px;
      margin: 0 10px;
      background-color: getCssVar("lower-color-2");
    }
  }

  .or:not(:last-child) {
    &::after {
      content: "/";
      display: inline-block;
      width: 0.35rem;
      height: 0;
      background-color: getCssVar("lower-color-2");
    }
  }
}
