@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@include b(catalogue) {
  @include e(header) {
    border-bottom: 1px solid getCssVar("line-color");
    margin-top: 1rem;
    padding-bottom: 1.2rem;

    .description {
      margin-top: 10px;
    }
  }

  @include e(wrapper) {
    .title {
      font-size: 1.45rem;
      margin: 2rem 0 1rem;
    }

    .post {
      display: inline-block;
      width: 50%;
      margin-bottom: 1rem;
    }
  }
}
