@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-catalogue;
$prefix-class1: #{$theme-namespace}-subCatalogue;
$prefix-class2: #{$theme-namespace}-catalogueItem;

// 递归块样式
.#{$prefix-class} {
  &__inline {
    margin-top: 0.7rem;
    margin-left: 1rem;

    .#{$prefix-class1} {
      margin-bottom: 0;
    }
  }
}

// 非叶子目录样式
.#{$prefix-class1} {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.8rem;

  &__title {
    // # 样式
    .anchor {
      color: var(--#{$theme-namespace}-theme-color);
      font-size: 0.85em;
      margin-left: -1em;
      padding-right: 0.38em;
      opacity: 0;

      &:hover {
        text-decoration: underline;
      }
    }
    span {
      font-size: 1.1rem;
    }
    &:hover {
      .anchor {
        opacity: 1;
      }
    }
  }
}

// 叶子目录样式
.#{$prefix-class2} {
  width: 48%;
  margin-bottom: 0.5rem;
  a {
    color: var(--#{$theme-namespace}-theme-color);
    &:hover {
      color: var(--vp-c-brand-1);
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
