@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@include b(friendLink) {
  @include e(list) {
    position: relative;
    gap: getCssVar("friend-gap");
    padding-right: 5px;

    @include e(list__item) {
      padding: 0 5px;
      a {
        gap: 15px;
        .friend-avatar {
          width: 3vw;
          height: 3vw;
          border-radius: 50%;
        }
      }

      @include e(list__item__info) {
        /* 指定最小宽度，让文字溢出后显示 ... */
        min-width: 0;
        .friend-name {
          font-size: getCssVar("home-font-size-middle");
          font-weight: 450;
        }
        .friend-desc {
          font-size: getCssVar("home-font-size-middle");
          color: var(--vp-c-text-2);
        }
      }
    }
  }

  @include m(empty) {
    font-size: getCssVar("" home-font-size-middle);
    padding: 6px;
    text-align: center;
  }
}
