@use "../mixins/bem" as *;

@include b(postList) {
  @include e(pagination) {
    .el-pagination {
      .el-pager {
        li.is-active.number {
          background-color: var(--vp-c-brand-2);
        }
        li:not(.is-active):hover {
          color: var(--vp-c-brand-2);
        }
      }

      button.btn-prev:hover,
      button.btn-next:hover {
        color: var(--vp-c-brand-2);
      }
      .el-input__wrapper.is-focus {
        box-shadow: 0 0 0 1px var(--vp-c-brand-2) inset;
      }
    }
  }

  /* 封面图为 full 风格样式 */
  .full-cover-wrapper:nth-child(2n) {
    .full-cover {
      flex-direction: row-reverse;
      .cover-img .full {
        clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
      }
    }
  }
}
