@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-postItem;

.#{$prefix-class} {
  .excerpt {
    h1,
    h2,
    h3 {
      display: none;
    }

    img {
      max-height: 280px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}