@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@use "./homeBannerContent";
@use "./homeBannerFeature";
@use "./homeBannerBgImage";
@use "./homeBannerBgPure";
@use "./homeBannerWaves";

@include b(banner) {
  position: relative;

  .full {
    height: 100vh;
    margin-top: calc(-1 * var(--vp-nav-height));
  }
}

/* 全屏图片风格或 body 图片风格时，修改顶部导航栏样式 */
.VPNavBar.home.full-img-nav-bar {
  background-color: transparent !important;

  .VPNavBarTitle .title,
  .VPNavBarMenuLink,
  .VPNavBarMenuGroup .text,
  .VPSocialLink {
    color: #ffffff;

    &.active,
    &:hover {
      color: getCssVar("theme-color");
    }
  }

  .divider {
    display: none;
  }

  .VPNavBarSearch .DocSearch-Button {
    background-color: transparent;

    .vp-icon,
    .DocSearch-Button-Placeholder {
      color: #ffffff;
    }

    .DocSearch-Button-Key {
      color: #ffffff;
      border: none;
      &::after {
        color: #ffffff;
      }
    }
  }

  .VPNavBarTranslations {
    .text {
      color: #ffffff;
    }
  }
}
