@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@include b(bannerFeature) {
  max-width: 1100px;
  margin: 2.5rem auto 0;
  overflow: hidden;
  padding: 2rem 0;
  position: relative;

  @include e(feature__item) {
    width: 30%;
    text-align: center;
    color: getCssVar("banner-text-color");

    .feature-img {
      width: 10rem;
      height: 10rem;
    }

    .feature-title {
      font-weight: 500;
      font-size: 1.3rem;
      margin-top: 1rem;
    }

    .feature-description {
      opacity: 0.8;
      margin: 1rem;
    }
  }

  @media (max-width: 719px) {
    @include e(feature__item) {
      width: 100%;
    }
  }
}
