@use "../mixins/bem" as *;
@use "../mixins/config" as *;

$prefix-class: #{$namespace}-icon;

i.#{$prefix-class} svg,
img.#{$prefix-class} {
  fill: var(--icon-color);
  width: var(--icon-size);
  height: var(--icon-size);
}

@include b(icon) {
  height: 1em;
  width: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--icon-color);
  font-size: var(--icon-size, inherit);

  svg {
    height: 1em;
    width: 1em;
  }

  &.iconfont {
    color: var(--icon-color);
    font-size: var(--icon-size, 1em);
  }

  &.hover:hover {
    color: var(--icon-color-hover);
  }
}
