@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@include b(layout) {
  @include e(home-content) {
    margin: 3rem auto 0;
    max-width: getCssVar("home-max-width");
    gap: getCssVar("home-gap");

    @include e(home-content__post) {
      flex: 1;
      min-width: 400px;
    }

    @include e(home-content__info) {
      position: sticky;
      top: calc(var(--vp-nav-height) + 10px);
    }
  }

  @include e(comment) {
    margin-top: 1.25rem;
  }

  @media (max-width: 1280px) {
    @include e(home-content) {
      padding: 0 20px;
    }
  }

  @media (max-width: 768px) {
    @include e(home-content) {
      flex-wrap: wrap;
      @include e(home-content__post) {
        width: 100%;
      }
      @include e(home-content__info) {
        flex: 1;
      }
    }
  }
}
