@use "../mixins/function" as *;

.VPDoc {
  /* 右侧目栏录文字悬停和激活样式 */
  .aside .aside-container .outline-link {
    transition:
      color 0.3s,
      font-weight 0.3s;

    &:hover {
      transition:
        color 0.3s,
        font-weight 0.3s;
      font-weight: 700;
    }
    &.active {
      transition:
        color 0.3s,
        font-weight 0.3s;
      color: getCssVar("theme-color");
    }
  }
}
