@use "../../mixins/bem" as *;
@use "../../mixins/config" as *;

@include b(article-overview) {
  display: flex;
  justify-content: center;

  .#{$namespace}-page {
    margin: 24px 0;
  }

  .aside {
    position: relative;
    display: block;
    order: 2;
    flex-grow: 1;
    padding-left: 32px;
    max-width: 256px;

    .aside-container {
      position: fixed;
      top: 0;
      padding-top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + var(--vp-doc-top-height, 0px) + 48px);
      width: 224px;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-width: none;
    }
  }

  h2 {
    padding-top: 0;
    padding-bottom: 12px;
    border-top: none;
    border-bottom: 1px solid var(--vp-c-divider);
    .header-anchor {
      top: 0px;
    }
  }
}
