@use "../../mixins/bem" as *;
@use "../../mixins/function" as *;

@include b(footer-container) {
  background-color: getCssVar(home-bg-color);
  position: relative;
  // overflow: hidden 会创建 “块级格式化上下文（BFC）”，子元素的 margin 不会穿透父元素边界，而是被父元素 “包裹”。
  overflow: hidden;
}
