@use "../../mixins/bem" as *;
@use "../../mixins/config" as *;
@use "../../mixins/function" as *;

@use "./home-post-item";

@include b(post-list) {
  @include e(empty) {
    padding: 1.5rem;
    margin: 0.5px;

    @include e(empty__title) {
      margin-top: 20px;
    }
  }

  /* 封面图为 full 风格样式 */
  .full-cover:nth-child(2n) .#{$namespace}-post-item__info {
    flex-direction: row-reverse;
    .cover-img .full {
      clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
    }
  }

  @include b(pagination) {
    padding: 15px 2px 0;
  }
}
