@use "../namespace.scss" as *;

$prefix-class: #{$theme-namespace}-postList;

.#{$prefix-class} {
  &-pagination {
    :deep(.el-pagination li.is-active.number) {
      background-color: var(--vp-c-brand-2);
    }
    :deep(.el-pagination button:hover) {
      color: var(--vp-c-brand-2);
    }

    :deep(.el-pager li:not(.is-active):hover) {
      color: var(--vp-c-brand-2);
    }
    :deep(.el-input__wrapper.is-focus) {
      box-shadow: 0 0 0 1px var(--vp-c-brand-2) inset;
    }
  }

  :deep(.large-cover-wrapper:nth-child(2n)) {
    .large-cover {
      flex-direction: row-reverse;
      .cover-img .large {
        clip-path: polygon(0 0, 92% 0, 100% 100%, 0 100%);
      }
    }
  }
}
