@use "../mixins/bem" as *;
@use "../mixins/function" as *;
@use "../mixins/config" as *;

@include b(body-bg-image) {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -999999;
  height: 100vh;
  width: 100vw;
  transition: background-image 1s;
  background: getCssVar("body-bg-img");
  opacity: getCssVar("body-bg-img-opacity");

  .mask {
    width: 100%;
    height: 100%;
    background-color: getCssVar("body-mask-bg-color");
  }

  /* 兼容 ArticlePageStyle 组件 */
  & ~ .Layout {
    &.#{$namespace}-card,
    &.#{$namespace}-card-nav,
    &.#{$namespace}-segment,
    &.#{$namespace}-segment-nav {
      .VPContent:not(.is-home) {
        background-color: transparent;
      }

      @media (min-width: 1280px) {
        /* 导航栏 */
        .VPNav .VPNavBar:not(.home) {
          .content-body {
            background-color: transparent;
          }
        }
        .VPSidebar {
          background-color: getCssVar("bg-color-2");
          .curtain {
            background-color: transparent;
          }
        }
      }
    }

    .VPNavBar.home .divider {
      display: none;
    }
  }
}
