@use "../mixins/bem" as *;
@use "../mixins/function" as *;

@include b(footer-group) {
  width: 100%;
  max-width: getCssVar("home-footer-group-width");
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  padding-bottom: 20px;

  @include e(title) {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.8;
  }

  @include e(link) {
    font-size: 14px;
    line-height: 2.2;
    color: var(--vp-c-text-1);

    a {
      display: inline-flex;
      align-items: center;
      transition: color 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }

  @include e(link__external-icon) {
    margin-left: 4px;
  }

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 17px;
    justify-items: center;
  }
}
