@use "../mixins/bem" as *;
@use "../mixins/mixins" as *;
@use "../mixins/function" as *;

@include b(banner) {
  @include when(full-img) {
    overflow: hidden;
  }

  @include b(banner-bg-image) {
    &.full {
      animation: enlarge getCssVar("banner-img-switch-interval-s") linear infinite;

      @keyframes enlarge {
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}
