@use "../mixins/bem" as *;
@use "../mixins/mixins" as *;
@use "../mixins/function" as *;

@include b(banner) {
  @include when(full-img) {
    overflow: hidden;
    margin-top: calc(-1 * var(--vp-nav-height));
    margin-bottom: calc(1 * var(--vp-nav-height));
  }

  @include b(bannerBgImage) {
    .full {
      animation: enlarge getCssVar("banner-img-switch-interval-s") linear infinite;
      margin-top: 0;

      @keyframes enlarge {
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}
