@use "../mixins/config" as *;
@use "../mixins/function" as *;

/* 自定义页面样式 */
.#{$namespace}-page {
  max-width: getCssVar("page-width");
  margin: 24px auto;
  padding: 20px 30px;
  box-shadow: var(--vp-shadow-3);
  border-radius: 10px;
  background-color: getCssVar("bg-color");

  /* 隐藏 md 内容 */
  & ~ div:not(.#{$namespace}-page) {
    display: none;
  }
}

/* 自定义页面一级标题样式 */
.#{$namespace}-page-title-h1 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

/* 自定义页面二级标题样式 */
.#{$namespace}-page-title-h2 {
  font-size: 27px;
  line-height: 27px;
  font-weight: 600;
}

/* 自定义页面三级标题样式 */
.#{$namespace}-page-title-h3 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
}

.#{$namespace}-pointer {
  cursor: pointer;
}

.#{$namespace}-center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.#{$namespace}-title-tag {
  display: inline-block;
  height: 22px;
  line-height: 18px;
  border: 1px solid getCssVar("theme-color");
  color: getCssVar("theme-color");
  -webkit-text-fill-color: getCssVar("theme-color");
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 3px;
  margin-left: 4px;
  font-weight: 500;

  &.large {
    font-size: 16px;
    height: 24px;
    line-height: 20px;
    font-weight: 600;
  }

  &.small {
    font-size: 13px;
    height: 19px;
    line-height: 15px;
  }

  &.mini {
    font-size: 12px;
    height: 18px;
    line-height: 14px;
  }
}

h1 {
  .#{$namespace}-title-tag {
    transform: translateY(-4px);
  }
}

/* Badge 添加 success 样式 */
.VPBadge.success {
  border-color: getCssVar("el-color-success-light-8");
  color: getCssVar("el-color-success");
  background-color: getCssVar("el-color-success-light-9");
}

a.hover-color:hover {
  color: getCssVar("theme-color");
  cursor: pointer;
}
